<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
  <div class="row">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
</div>

<div class="container-fluid navi">
  <div class="row">
    <ul>
      <li><a routerLink="/main" routerLinkActive="active">Главная</a></li>
      <li><a routerLink="/authors" routerLinkActive="active">Авторы</a></li>
      <li><a routerLink="/articles" routerLinkActive="active">Статьи</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

